.bellies-page {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  margin: 20px auto;
}

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  display: grid;
  place-items: center;
}

.beans-grid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  width: 80%;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
